body{
    background-color: pink;
}
#heading_div{
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  color: whitesmoke;  
  box-shadow: 5px 5px 5px green;
  animation: color-change 5s infinite;
}
@keyframes color-change {
  from{
    box-shadow: 5px 5px 5px green;
  }
  to{
    box-shadow: 5px 5px 5px red;
  }
}
.copy_right_footer{
  background-color: grey;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}